InterVehicleFleetDriver/InterVehicleFleetDriver/Service References/DatabaseService/Databaseservice1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetListOfImageCapture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dateTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListOfImageCaptureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListOfImageCaptureResult" type="tns:ArrayOfImageCap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfImageCap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImageCap" nillable="true" type="tns:ImageCap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ImageCap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ImageID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DriverID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Thumbnail" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="InterVechID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadImageCapture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImageData" type="tns:ImageCap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadImageCaptureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadImageCaptureResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetListOfImageCaptureSoapIn">
    <wsdl:part name="parameters" element="tns:GetListOfImageCapture" />
  </wsdl:message>
  <wsdl:message name="GetListOfImageCaptureSoapOut">
    <wsdl:part name="parameters" element="tns:GetListOfImageCaptureResponse" />
  </wsdl:message>
  <wsdl:message name="UploadImageCaptureSoapIn">
    <wsdl:part name="parameters" element="tns:UploadImageCapture" />
  </wsdl:message>
  <wsdl:message name="UploadImageCaptureSoapOut">
    <wsdl:part name="parameters" element="tns:UploadImageCaptureResponse" />
  </wsdl:message>
  <wsdl:portType name="DatabaseServiceSoap">
    <wsdl:operation name="GetListOfImageCapture">
      <wsdl:input message="tns:GetListOfImageCaptureSoapIn" />
      <wsdl:output message="tns:GetListOfImageCaptureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadImageCapture">
      <wsdl:input message="tns:UploadImageCaptureSoapIn" />
      <wsdl:output message="tns:UploadImageCaptureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DatabaseServiceSoap" type="tns:DatabaseServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListOfImageCapture">
      <soap:operation soapAction="http://tempuri.org/GetListOfImageCapture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImageCapture">
      <soap:operation soapAction="http://tempuri.org/UploadImageCapture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatabaseServiceSoap12" type="tns:DatabaseServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListOfImageCapture">
      <soap12:operation soapAction="http://tempuri.org/GetListOfImageCapture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImageCapture">
      <soap12:operation soapAction="http://tempuri.org/UploadImageCapture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseService">
    <wsdl:port name="DatabaseServiceSoap" binding="tns:DatabaseServiceSoap">
      <soap:address location="http://mmtprojects4.mmt.herts.ac.uk/MMT13-220svc/Databaseservice.asmx" />
    </wsdl:port>
    <wsdl:port name="DatabaseServiceSoap12" binding="tns:DatabaseServiceSoap12">
      <soap12:address location="http://mmtprojects4.mmt.herts.ac.uk/MMT13-220svc/Databaseservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>